[submodule "php-mode"]
	path = php-mode
	url = https://github.com/ejmr/php-mode.git
[submodule "enhanced-ruby-mode"]
	path = enhanced-ruby-mode
	url = https://github.com/jacott/Enhanced-Ruby-Mode.git
[submodule "markdown-mode"]
	path = markdown-mode
	url = https://github.com/defunkt/markdown-mode.git
